<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAyLM4ruRcM204xeGz8G-GifgP2XxGe13U</string>
	<key>GCM_SENDER_ID</key>
	<string>316425656875</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.UstaBrothers.Recorto</string>
	<key>PROJECT_ID</key>
	<string>recorto-f5235</string>
	<key>STORAGE_BUCKET</key>
	<string>recorto-f5235.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:316425656875:ios:04d8b34d7e296ef2c2e86e</string>
</dict>
</plist>